# Replace all of the API keys with real values
# and rename this file to config.cfg

[OctoPrintAPI]
host: 127.0.0.1
apikey: PUTYOUROCTOPRINTAPIKEYHERE 

[TwitterAPI]
CONSUMER_KEY: putyourtwitterconsumerkeyhere
CONSUMER_SECRET: putyourtwitterconsumersecrethere
ACCESS_TOKEN_KEY: putyourtwitteraccesstokenkeyhere
ACCESS_TOKEN_SECRET: putyourtwitteraccesstokensecrethere
TWEETS_ENABLED: True

[Debug]
debug_enabled: False

